<table>
  <tr>
    <td><table>
  <tr>
    <th>Videos on Method and Tools</th>
  </tr>
  <tr>
    <td><a href="https://youtu.be/HAwSxcbFIhA">What is the Study of Textual History?</a><br></td>
  </tr>
  <tr>
    <td><a href="https://youtu.be/1OegbnmB848">How and Why Statistical Profiles Work for Textual History</a><br></td>
  </tr>
  <tr>
    <td><a href="https://youtu.be/ckIM1cNeU34">Samples, Populations, and Textual History</a><br></td>
  </tr>
  <tr>
    <td><a href="https://youtu.be/hKJJhhDTaXs">Bell-Shaped Curves & Textual History</a><br></td>
  </tr>
  <tr>
    <td><a href="https://youtu.be/6NIcd6Nw7nM">Introduction to the THEOT Text Viewer, Basic</a><br></td>
  </tr>
  <tr>
    <td>The THEOT Text Viewer, Advanced</td>
  </tr>
  <tr>
    <td>Manuscripts Used in the THEOT Project</td>
  </tr>
  <tr>
    <td>Principles for Creating Samples of Manuscripts and Samples of Text</td>
  </tr>
  <tr>
    <td>Samples of Manuscripts for Deuteronomy</td>
  </tr>
  <tr>
    <td>Samples of Text for Deuteronomy</td>
  </tr>
  <tr>
    <td>Samples of Manuscripts for Judges</td>
  </tr>
  <tr>
    <td>Samples of Text for Judges</td>
  </tr>
  <tr>
    <td>Introduction to Manuscript Descriptions</td>
  </tr>
  <tr>
    <td>Creating Accurate Transcriptions</td>
  </tr>
  <tr>
    <td>Transkribus for Making Transcriptions</td>
  </tr>
  <tr>
    <td><a href="https://youtu.be/WciZ86BAIOk">Aggregating Transcriptions</a><br></td>
  </tr>
  <tr>
    <td><a href="https://youtu.be/G_ilkzHa3wI">Aligning Aggregated Texts</a><br></td>
  </tr>
  <tr>
    <td><a href="https://youtu.be/1LWu_hovCB8">Ensuring Accuracy of Formatting - Validating the Dots and Bars File</a><br></td>
  </tr>
  <tr>
    <td><a href="https://youtu.be/7lXIWnbkNfI">Quantifying Manuscript Condition</a><br></td>
  </tr>
  <tr>
    <td><a href="https://youtu.be/Fa24pPYu0nM">Quantifying Scribal Idiosyncrasy </a><br></td>
  </tr>
  <tr>
    <td>How Scribal Idiosyncrasy Affects the Measurement of Affinity</td>
  </tr>
  <tr>
    <td>Scribal Intervention in the Manuscripts of Judges</td>
  </tr>
  <tr>
    <td><a href="https://youtu.be/SPg4SDl2tAY">Identifying Variants</a><br></td>
  </tr>
  <tr>
    <td><a href="https://youtu.be/yIZaEmZXzX0">Create Database of Variants</a><br></td>
  </tr>
  <tr>
    <td><a href="https://youtu.be/jymg1ZKC7Q8">Calculating agreement among the Manuscripts</a><br></td>
  </tr>
  <tr>
    <td>Generating the Dendrogram with R</td>
  </tr>
  <tr>
    <td>A Look at the Dendrogram for Deuteronomy</td>
  </tr>
  <tr>
    <td>A Look at the Dendrogram for Judges</td>
  </tr>
  <tr>
    <td>Generating a “Cluster Profile”</td>
  </tr>
  <tr>
    <td>Generating a List of Best Representatives</td>
  </tr>
  <tr>
    <td>Generating Lists of Cluster Distinctive Readings</td>
  </tr>
  <tr>
    <td>Building Bricks: The Building Blocks of Text Historical Argumentation</td>
  </tr>
  <tr>
    <td>Using Distinctive Readings and Secondary Affiliations to Characterize Clusters</td>
  </tr>
  <tr>
    <td>Characterizing Clusters in Deuteronomy - Eth I, The 14-16th centuries</td>
  </tr>
  <tr>
    <td>Characterizing Clusters in Deuteronomy - Eth II, The 17-20th centuries</td>
  </tr>
  <tr>
    <td>Characterizing Clusters in Judges - Eth I, The 14-16th centuries</td>
  </tr>
  <tr>
    <td>Characterizing Clusters in Judges - Eth II, The 17-20th centuries</td>
  </tr>
  <tr>
    <td>Chart of the Textual History of Deuteronomy</td>
  </tr>
  <tr>
    <td>Chart of the Textual History of Judges</td>
  </tr>
  <tr>
    <td>Constructing Diagnostic Steps to Identify the cluster of any new manuscript</td>
  </tr>
</table>
</td>
    <td><table>
  <tr>
    <th>Videos on Specific Books</th>
  </tr>
  <tr>
    <td>Samples of Mss for:</td>
    <td>Deu</td>
    <td>Jud</td>
    <td>Est</td>
    <td>Ecc</td>
    <td>Dan</td>
    <td>Hos</td>
    <td>Amo</td>
    <td>Oba</td>
    <td>Nah</td>
    <td>Zec</td>
  </tr>
  <tr>
    <td>Samples of Text for:</td>
    <td>Deu</td>
    <td>Jud</td>
    <td>Est</td>
    <td>Ecc</td>
    <td>Dan</td>
    <td>Hos</td>
    <td>Amo</td>
    <td>Oba</td>
    <td>Nah</td>
    <td>Zec</td>
  </tr>
  <tr>
    <td>Profile of Manuscript Conditions for:</td>
    <td>Deu</td>
    <td>Jud</td>
    <td>Est</td>
    <td>Ecc</td>
    <td>Dan</td>
    <td>Hos</td>
    <td>Amo</td>
    <td>Oba</td>
    <td>Nah</td>
    <td>Zec</td>
  </tr>
  <tr>
    <td>Profile of Scribal Idiosyncrasy for:</td>
    <td>Deu</td>
    <td>Jud</td>
    <td>Est</td>
    <td>Ecc</td>
    <td>Dan</td>
    <td>Hos</td>
    <td>Amo</td>
    <td>Oba</td>
    <td>Nah</td>
    <td>Zec</td>
  </tr>
  <tr>
    <td>A Look at the Dendrogram for:</td>
    <td>Deu</td>
    <td>Jud</td>
    <td>Est</td>
    <td>Ecc</td>
    <td>Dan</td>
    <td>Hos</td>
    <td>Amo</td>
    <td>Oba</td>
    <td>Nah</td>
    <td>Zec</td>
  </tr>
  <tr>
    <td>Best Representative Mss for:</td>
    <td>Deu</td>
    <td>Jud</td>
    <td>Est</td>
    <td>Ecc</td>
    <td>Dan</td>
    <td>Hos</td>
    <td>Amo</td>
    <td>Oba</td>
    <td>Nah</td>
    <td>Zec</td>
  </tr>
  <tr>
    <td>Characterizing Clusters in:</td>
    <td>Deu</td>
    <td>Jud</td>
    <td>Est</td>
    <td>Ecc</td>
    <td>Dan</td>
    <td>Hos</td>
    <td>Amo</td>
    <td>Oba</td>
    <td>Nah</td>
    <td>Zec</td>
  </tr>
  <tr>
    <td>Charts of the Textual History of books:</td>
    <td>Deu</td>
    <td>Jud</td>
    <td>Est</td>
    <td>Ecc</td>
    <td>Dan</td>
    <td>Hos</td>
    <td>Amo</td>
    <td>Oba</td>
    <td>Nah</td>
    <td>Zec</td>
  </tr>
</table>
</td>
  </tr>
</table>
