<table>
  <tr>
    <td><table>
  <tr>
    <th>Visualizations</th>
  </tr>
  <tr>
    <td><a href="https://public.tableau.com/app/profile/stephen.delamarter/viz/THEOT-MapofHoldingInstitutions-Nov122022/MapofHoldingInstitutions?publish=yes">Map of Holding Institutions - with Chronological Slider</a><br></td>
  </tr>
  <tr>
    <td>Map of Manuscript Locations with Chronological Slider</td>
  </tr>
  <tr>
    <td>MS Condition - # missing words</td>
  </tr>
  <tr>
    <td><a href="https://public.tableau.com/app/profile/stephen.delamarter/viz/THEOT-ChronologicalDistributionofManuscripts-Nov122022/MssinBooksChronology?publish=yes">THEOT - Chronological Distribution of Manuscripts - Nov 12 2022</a><br></td>
  </tr>
  <tr>
    <td><a href="https://public.tableau.com/app/profile/stephen.delamarter/viz/THEOT-ScribalIdiosyncrasy-ByBook-Nov122022/DB2-UniqueReadings">THEOT - Scribal Idiosyncrasy - Bar Graphs, Number and Percentage</a><br></td>
  </tr>
  <tr>
    <td><a href="https://public.tableau.com/app/profile/stephen.delamarter/viz/THEOT-ScribalIdiosyncrasy-ByBook-Nov122022/ScribalIntervention?publish=yes">THEOT - Scribal Intervention-Judges -Circle Graphs</a><br></td>
  </tr>
  <tr>
    <td><a href="https://public.tableau.com/app/profile/stephen.delamarter/viz/THEOT-ScribalIntervention-Judges/Dashboard3">THEOT - Scribal Intervention - Judges-Map and Bar Graphs</a><br></td>
  </tr>
  <tr>
    <td>Words in Book and Sample</td>
  </tr>
  <tr>
    <td>Number of Datapoints</td>
  </tr>
  <tr>
    <td>Tables about Manuscripts</td>
  </tr>
  <tr>
    <td>Table of Manuscripts by Cluster</td>
  </tr>
</table>
</td>
    <td><table>
  <tr>
    <th>Videos on Visualization</th>
  </tr>
  <tr>
    <td>Holding Institutions of Mss</td>
  </tr>
  <tr>
    <td>MS Condition - # missing words</td>
  </tr>
  <tr>
    <td>Mss in Books Chronology</td>
  </tr>
  <tr>
    <td>Scribal Idiosyncrasy – Unique</td>
  </tr>
  <tr>
    <td>Readings</td>
  </tr>
  <tr>
    <td>Words in Book and Sample</td>
  </tr>
  <tr>
    <td>Number of Datapoints</td>
  </tr>
  <tr>
    <td>Tables about Manuscripts</td>
  </tr>
  <tr>
    <td>Table of Manuscripts by Cluster</td>
  </tr>
</table>
</td>
  </tr>
</table>
